/ Footer
%section#wrapper-footer
  .container
    .row
      .copyright.col-sm-4
        &copy; 2014 Runway
      .about.col-sm-6.col-sm-offset-2
        Mockup 02 for front end prospects by
        %img.logo-rokker{:src => "images/Logo-rokk3r.png", :alt => "Rokk3r Labs"}/
