/ Carousel
%section#wrapper-carousel
  .container
    .carousel
      .item
        %img{:src => "images/Carousel-01.jpg", :alt => "Carousel 01"}/
        .caption
          %h3 Lorem ipsum dolor
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex.
      .item
        %img{:src => "images/Carousel-02.jpg", :alt => "Carousel 02"}/
        .caption
          %h3 Lorem ipsum dolor
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex.
      .item
        %img{:src => "images/Carousel-03.jpg", :alt => "Carousel 03"}/
        .caption
          %h3 Lorem ipsum dolor
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex.