/ Carousel
%section#wrapper-carousel{"ng-controller" => "dataCarousel"}
  .container
    %slick{"autoplay" => "true", "autoplaySpeed" => "5000", "dots" => "true"}
      .item{"ng-repeat" => "slide in slides"}
        %img{"ng-src" => "{{slide.source}}"}/
        .caption
          %h3 {{slide.title}}
          %p {{slide.caption}}
