// ==========================================================================
// Variables
// ==========================================================================


/* Colors */
$white : #FFFFFF
$whitesmoke : #f7f7f7
$black : #000000

/* Font */
$base-font-size : 16px

/* Custom */
$link-color : $black