---
title: Runway | Rokk3r Labs
body_class: home
---
= partial "partials/carousel"
/ Content
%section#wrapper-content
  .container
    %h1.main-title My Wish list
    .wrapper-whishlist
      .item.row
        .section-media.col-xs-3.col-md-2
          .id-item
          .image-item.disabled-sm
            %img{:src => "images/Thumb-01.jpg", :alt => "Thumb 01"}/
          %a.icon-download{:href => ""}
            %i.icon-down-bold
        .section-info.col-xs-7.col-md-9
          .info.col-sm-6
            .title-item The book with no pictures
            .author-item B.J. Novak
            %a.icon-info.disabled-sm{:href => ""}
              %i.icon-information
          .price.col-sm-2
            .price-item $650.00
            %a.disabled-sm{:href => ""} See Review
          .link.disabled-sm.col-sm-2
            %a{:href => ""} View Contract
          .wrapper-button.col-sm-2
            %a.button{:href => ""} Buy
        .section-options.col-xs-2.col-md-1
          .icon-close
            %i.icon-close-round

      .item.row
        .section-media.col-xs-3.col-md-2
          .id-item
          .image-item.disabled-sm
            %img{:src => "images/Thumb-01.jpg", :alt => "Thumb 01"}/
          %a.icon-download{:href => ""}
            %i.icon-down-bold
        .section-info.col-xs-7.col-md-9
          .info.col-sm-6
            .title-item The book with no pictures
            .author-item B.J. Novak
            %a.icon-info.disabled-sm{:href => ""}
              %i.icon-information
          .price.col-sm-2
            .price-item $650.00
            %a.disabled-sm{:href => ""} See Review
          .link.disabled-sm.col-sm-2
            %a{:href => ""} View Contract
          .wrapper-button.col-sm-2
            %a.button{:href => ""} Buy
        .section-options.col-xs-2.col-md-1
          .icon-close
            %i.icon-close-round

      .item.row
        .section-media.col-xs-3.col-md-2
          .id-item
          .image-item.disabled-sm
            %img{:src => "images/Thumb-01.jpg", :alt => "Thumb 01"}/
          %a.icon-download{:href => ""}
            %i.icon-down-bold
        .section-info.col-xs-7.col-md-9
          .info.col-sm-6
            .title-item The book with no pictures
            .author-item B.J. Novak
            %a.icon-info.disabled-sm{:href => ""}
              %i.icon-information
          .price.col-sm-2
            .price-item $650.00
            %a.disabled-sm{:href => ""} See Review
          .link.disabled-sm.col-sm-2
            %a{:href => ""} View Contract
          .wrapper-button.col-sm-2
            %a.button{:href => ""} Buy
        .section-options.col-xs-2.col-md-1
          .icon-close
            %i.icon-close-round

      .item.row
        .section-media.col-xs-3.col-md-2
          .id-item
          .image-item.disabled-sm
            %img{:src => "images/Thumb-01.jpg", :alt => "Thumb 01"}/
          %a.icon-download{:href => ""}
            %i.icon-down-bold
        .section-info.col-xs-7.col-md-9
          .info.col-sm-6
            .title-item The book with no pictures
            .author-item B.J. Novak
            %a.icon-info.disabled-sm{:href => ""}
              %i.icon-information
          .price.col-sm-2
            .price-item $650.00
            %a.disabled-sm{:href => ""} See Review
          .link.disabled-sm.col-sm-2
            %a{:href => ""} View Contract
          .wrapper-button.col-sm-2
            %a.button{:href => ""} Buy
        .section-options.col-xs-2.col-md-1
          .icon-close
            %i.icon-close-round

    .total-items.col-sm-offset-9
      Total price: $ 3.037,00
      .wrapper-button.center
        %a.button.block.pink{:href => ""} Buy All Books
